.github_icon {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
    margin:1em;
    cursor: pointer;
    background-color: #A8DADC;
    border-radius:15px;
    border: 2px solid #1D3557
}

@media (hover: hover) {
    .github_icon:hover {
        background: #6839E6;
        color: #F1FAEE;
    }
  }