.title_container {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #F1FAEE;
  }

  .page_title {
    padding: 0.5em;
    font-size: 30px;
    text-align: center;
  }

@media (hover: hover) {
  .title_container:hover {
    opacity: 0.4;
  }
}