.btn_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 1em;
}

.btn {
    border: solid 2px hsl(215, 50%, 23%);
    background: #A8DADC;
    color: #1D3557;
    padding: 1em 2em
}
.btn:hover {
    background: #1D3557;
    color: #F1FAEE;

}

.btn_selected {
    border: solid 2px #1D3557;
    background: #1D3557;
    color: #F1FAEE;
    padding: 1em 2em
}