.btn_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 1em;
}

.btn_icebreakers {
    border: solid 2px #1D3557;
    background: #A8DADC;
    color: #1D3557;
    padding: 1em 2em
}

.btn_nuncanunca {
    border: solid 2px black;
    background: #C9D6EA;
    color: #1D3557;
    padding: 1em 2em
}

.btn_selected_icebreakers  {
    border: solid 2px black;
    background: #6839E6;
    color: #F1FAEE;
    padding: 1em 2em;
}

.btn_selected_nuncanunca {
    border: solid 2px black;
    background: #663F46;
    color: #F1FAEE;
    padding: 1em 2em;
}

@media (max-width: 360px) {
    .btn_container {
        gap:1em;
    }
  }

@media (hover: hover) {
    .btn_icebreakers:hover {
        translate: 0px -2px;
    }
    .btn_selected_icebreakers:hover {
        translate: 0px -2px;
    }
    .btn_nuncanunca:hover {
        translate: 0px -2px;
    }
    .btn_selected_nuncanunca:hover {
        translate: 0px -2px;
    }
  }