.gameContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1em;
    padding: 5em;
}

.phraseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1FAEE;
    width: 350px;
    height: 200px; 
    padding: 2em;
    border-radius: 15px;
    border: 2px solid #1D3557;
}

.opinion_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

.like_container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #1D3557;
    padding: 0.5em 3em;
    background-color: #A8DADC
}

.like_container_active {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 0.5em 3em;
    background-color: #1D3557;
    color: #F1FAEE;
}



.phrase {
    text-align: center;
    color: #1D3557
}

.btn {
    border: solid 2px #1D3557;
    background: #A8DADC;
    color: #1D3557;
    padding: 1em 2em;
    width: 180px;
}


@media (max-width: 360px) {
    .phraseContainer {
        width: 300px;
    }
  }

@media (hover: hover) {
    .btn:hover {
        background: #1D3557;
        color: #F1FAEE;
        border: 2px solid black
    }
    .like_container:hover {
        background-color: #1D3557;
        color: #F1FAEE;
        border: 2px solid black
    }
  }