.container {
    padding: 0 2rem;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: Black;
    justify-content: space-between;
    align-items: center;
  }

  .game_container {
    width: 400px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 2em;
    display: flex;
    justify-content: center;
    cursor:pointer;

  }

  .game_title {
    color: #F1FAEE;
    padding: 1em;
    font-size: 30px;
  }

  .title {
    color: #F1FAEE;
    padding: 1em;
    font-size: 30px;
    text-align: center;
  }

  .main_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:5em;
    padding: 5em;
  }
  
  .page_title {
    color: #F1FAEE;
    padding: 1em;
    font-size: 30px;
    text-align: center;
  }