.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  background-color: #DE4545;
}

.main_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10em;

}

.buttons {
  display: flex;
  gap: 1em;
}
.btn {
  padding: .5em 3em;
  font-size: 32px;
  background-color: #A8DADC;
  color: black;
  border-radius: 15px;
}

@media (hover: hover) {
  .btn:hover {
      opacity: 0.8;
  }
}
