.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  background-color: #DE4545;
}

.main_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  display: flex;
  gap: 1em;
}
.btn {
  padding: .5em 3em;
  font-size: 24px;
  background-color: #A8DADC;
  color: black;
  border-radius: 15px;
}

.input {
  background-color: white;
  border-radius: 15px;
  padding: 0.5em 1em;
  font-size: 16px;
  width: 300px;
  color:black
}

.select_name_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

@media (hover: hover) {
  .btn:hover {
      opacity: 0.8;
  }
}
