.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  background-color: #DE4545;
}

.main_content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input {
  background-color: white;
  border-radius: 15px;
  padding: 0.5em 1em;
  font-size: 16px;
  width: 300px;
  color:black
}

.btn {
  padding: .5em 3em;
  background-color: #A8DADC;
  color: black;
  border-radius: 15px;
}


.select_name_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.answer_container {
  display: flex;
  flex-direction: row;
  gap:1em;
  justify-content: center
}

.box1 {
  font-size: 40px;
  background-color: #82b366;
  padding: 5px 20px;
  border-radius: 15px;
  border: 2px solid black;
}

.box2 {
  font-size: 40px;
  background-color: #b85450;
  padding: 5px 20px;
  border-radius: 15px;
  border: 2px solid black;
}

.players {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}